<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/home.css">
</head>
<body>
<form action="/home" method="POST">
    <Label for="remoteFiles">Select a file or directory here</Label>
    <select name="remoteFiles" id="remoteFiles">
        <option value="back">../</option>
        <% for(let file of remoteFolder) { %>
            <option value=<%= file.toString() %>><%= file %> </option>
        <% } %>
    </select>
    <br>
   
   
 
    <% if (textArea && typeof(textArea)==='string') { %>
        <textarea name="textArea" id="textArea" cols="40" rows="30" ><%= textArea.toString() %></textarea>
      <% } %>
      <br>
   
     
   
    <button id="jump">open selection</button>
    <button id="remove">delete</button>
    <button id="put">save</button>
   
</form>
<script src="../public/config.js">
</script>
</body>

